In [1]:
# set(множество)

In [3]:
my_set = set()
print(my_set)
print(type(my_set))

set()
<class 'set'>

In [4]:
# value.add(value) ДОБАВЛЕНИЕ ЗНАЧЕНИЯ В SET
my_set.add(1)
my_set

{1}

In [5]:
my_set.add(2)
my_set

{1, 2}

In [6]:
my_list = [1,1,2,2,3,3,4]
s = set(my_list)
s

{1, 2, 3, 4}

In [7]:
print(1 in s)
print(5 in s)

True
False

In [8]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5}

In [9]:
set1.issubset(set2)

True

In [10]:
set2.issubset(set1)

False

In [11]:
set2.issuperset(set1)

True

In [12]:
set1 = {1,2,3}
set2 = {4,5,6}
set1.isdisjoint(set2)

True

In [13]:
# ЩБЪУДИНЕНИЕ СЕТОВ
set1 = {1,2,3}
set2 = {1,2,3,4,5}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5}

In [14]:
# УЗНАЕМ ЭЛЕМЕНТЫ ПЕРЕСИЧЕНИЯ  set1.intersection(set2)
set3 = set1.intersection(set2)
set3

{1, 2, 3}

In [16]:
# ПРОВЕРЯЕМ ЭЛЕМЕНТЫ КОТОРЫЕ НЕ ПОВТОРЯЮТСЯ ВО МНОЖЕСТВАХ 
set1 = {0,1,2,3,4}
set2 = {1,2,3,4,5}
set3 = set1.difference(set2)
set4 = set1.symmetric_difference(set2)
print(set3)
print(set4)

{0}
{0, 5}

In [2]:
set1 = {0,1,2,3,4}
set2 = {1,2,3,4,5}
set1.update(set2)           # добавляем элемент который отсутствует
set1

{0, 1, 2, 3, 4, 5}

In [3]:
# УДАЛЕНИЕ ЭЛЕМЕНТОВ

In [4]:
set1.remove(1)
print(set1)

{0, 2, 3, 4, 5}

In [5]:
set1.discard(2)
set1.discard(42)
print(set1)

{0, 3, 4, 5}

In [6]:
set1.clear()
set1

set()